.list-item {
  padding: 0.5em 1.2em;
  margin: 0.8rem;
  border-radius: 6px;
  border: 1px solid #939697;
  background-color: #c5e1e6;
}

.list-item-p {
  width: 500px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box {
  transform: scale(1.5);
  margin-right: 0.8rem;
}

.delete-button {
  padding: 0.5em;
  background-color: #0a2ea4;
  border: none;
}
