.list-item {
  padding: 2% 3%;
  margin: 2%;
  border-radius: 6px;
  border: 1px solid #939697;
  background-color: #c5e1e6;
}

.list-item-p {
  width: 200%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box {
  transform: scale(1.5);
  margin-right: 5%;
}

.delete-button {
  padding: 2%;
  background-color: #0a2ea4;
}
