.category-items {
  display: flex;
  margin-right: 10px;
}

.category-buttons:hover {
  color: var(--sky-blue-0);
  font-weight: bold;
  cursor: pointer;
}

.filter-list {
  display: flex;
  list-style-type: none;

  padding: 0;
  overflow: hidden;
  color: gray;
  cursor: pointer;
  margin-left: 1rem;
}

.selected-filter {
  color: var(--sky-blue-0);
  border-bottom: var(--sky-blue-2) solid;
  font-weight: bold;
}

.category-buttons {
  background: none;
  color: inherit;
  border: none;
  font-weight: bold;
}
