.input-todo {
  width: 256px;
  height: 43px;
  padding: 0.7em;
  margin-top: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input-todo:hover {
  border-color: var(--sky-blue-1);
}

.input-todo:focus-visible,
.input-todo:focus {
  border-color: #066acd;
  outline: #066acd;
}
