* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bt {
  display: inline-block;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}
.card {
  padding: 15%;
  background-color: aqua;
}
td {
  text-align: left;
}
table td {
  width: 100%;
  border: black;
}
table {
  margin-top: 100px;
}
button {
  background-color: blue;

  border-radius: 10px;
  color: white;
  display: inline-block;
}
input {
  display: inline-block;
}
