:root {
  --sky-blue-0: #066acd;
  --sky-blue-1: #24a0ed;
  --sky-blue-2: #0d75ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--sky-blue-0);
}

.todo-app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem;
}

.card {
  padding: 2em 1em;
  width: 420px;
  background-color: white;
  border-radius: 12px;
}

.input-todo:hover {
  border-color: var(--sky-blue-1);
}

.msg-box {
  margin-top: 20%;
  color: gray;
  text-align: center;
  padding: 1em 5em;
  margin: 2rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: #c5e1e6;
}

.add-button {
  border-radius: 7px;
  color: white;
  padding: 0.5em 2em;
  background-color: var(--sky-blue-2);
  border: none;
  height: 45px;
  margin-top: 0.7rem;
  font-weight: bold;
}

.add-button:hover {
  background-color: var(--sky-blue-1);
}

.inline-block {
  display: inline-block;
}

.todo-form {
  display: flex;
  width: 500px;
  vertical-align: top;
  text-align: center;
}

.msg-box:hover {
  cursor: pointer;
  background-color: #a3cfd8;
}

.msg-text {
  color: var(--sky-blue-2);
}

.error-box {
  text-align: center;
  padding: 1em 6em;
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: #f3cac0;
}

.error-box:hover {
  background-color: #dba294;
}

.error-text {
  color: black;
}
